<br>
<font>
<div dir=ltr align=center>
<img src="https://cdn.freebiesupply.com/logos/large/2x/sharif-logo-png-transparent.png" width=150 height=150> <br>
<font color=0F5298 size=7>
Introduction to Machine Learning - 25732 <br>
<font color=2565AE size=5>
Department of Electrical Enginnering<br>
Dr. Mohammad Hossein Yassaee<br>
Fall 2024<br>

### Information:

1.   Full Name: Seyyed Amirmahdi Sadrzadeh
2.   Student Number: 401102015



---

*I. You are just allowded to change those parts that start with "TO DO". Please do not change other parts.*

*II. It is highly recommended to read each codeline carefully and try to understand what it exactly does.*

*III. Do not copy codes completely from internet sources such as Chat-GPT or etc. If you are using any sources, please put its link in the beging of the block.*

*IV. Question 6 has additional points.*

If you have any question you can contact related TAs:
 - Homeworks coordinator: @danialayati
 - Questions 1, 2, 3 & 6: @armin_dh
 - Question 4 & 5: @Rosebaekfany


 Best of luck and have fun!

---

<font color=3C99D size=5>
Question One: Numpy Applications

##  Part I: Image Processing with NumPy

### Libraries

In [2]:
# Imports
import cv2
# for google colab
from google.colab.patches import cv2_imshow
import numpy as np
import matplotlib.pyplot as plt

In this section, First you should load an image and convert it to a gray scaled image then we'll process it by some operations using numpy.

In [4]:
# read and show the image
image = cv2.imread('image.jpeg')
gray_image = cv2.cvtColor(image, cv2.COLOR_BGR2GRAY)
cv2_imshow(gray_image)
# another way to load image by pyplot
# image = np.asarray(Image.open('./R.jpeg'))
plt.imshow(image)

error: OpenCV(4.10.0) /io/opencv/modules/imgproc/src/color.cpp:196: error: (-215:Assertion failed) !_src.empty() in function 'cvtColor'

<b> From now on, you must work with the grayscale image in each cell.

In gray scaled 0 means black and 255 is white and each number between these two shows a color in range of black to white. Now for this task, Make pixels brighter than 150, 100 degree darker.

In [ ]:
# TODO: don't use loop or anything like that and try to code by numpy where
darker_image = None
cv2_imshow(darker_image)

In grayscale images, pixel values typically range from 0 to 255, where 0 represents black and 255 represents white. Subtracting each pixel value from 255 effectively produces the negative of the grayscale image. Now we want to create negative grayscale version of our image.

In [ ]:
# TODO: Create negative grayscale image
negative_grayscale_image = None
cv2_imshow(negative_grayscale_image)

In [ ]:
# TODO: Split the image horizontally into two equal parts using NumPy's split function.
upper_half, lower_half = None, None
cv2_imshow(upper_half)
cv2_imshow(lower_half)

In [ ]:
# TODO: Split the image vertically into two equal parts using indexes and slicing.
left_half, right_half = None, None
cv2_imshow(left_half)
cv2_imshow(right_half)ll

Now We need 4 vertical split (vsplit) from image. write the code in a way that can be used for each image (not hard code size).

In [ ]:
# TODO: Split the image vertically into four equal parts using numpy vsplit function.
part1, part2, part3, part4 = None, None, None, None
cv2_imshow(part1)
cv2_imshow(part2)
cv2_imshow(part3)
cv2_imshow(part4)

In this section first split the original image horizontally calling them left and right images

In [ ]:
#TODO split image
left,right = None, None

In [ ]:
cv2_imshow(left)

In [ ]:
cv2_imshow(right)

Now, using  invert the left image.

In [ ]:
#TODO: invert left
inverted_left = None

cv2_imshow(inverted_left)

Now, mirror both the inverted left image and the right image.

In [ ]:
#TODO: flip inverted left image
mirrored_left = None

cv2_imshow(mirrored_left)

In [ ]:
#TODO: flip right image
mirrored_right = None

cv2_imshow(mirrored_right)

In the next step we want to concat the two images horizontally.

In [ ]:
#TODO: concat mirrored_left and mirrored_right
final_image = None

cv2_imshow(final_image)

For the final step invert the concated image.

In [ ]:
#TODO: invert final_image
invert_final_image = None

cv2_imshow(invert_final_image)

##  Part II: Broadcasting with NumPy

In this question, we have several vectors. From them, we want to find a vector that is most similar to a specific vector.

In order to compare how "similar" two vectors are, we define the D parameter like below (a and b are the two vectors we want to compare, with n indices). the smaller the value of D for 2 vectors is, the more similar those two vectors are.

$D=\sqrt{\Sigma_{i=1}^n(a_i-b_i)^2}$

Inputs: in the first line the users gives the value m, which is the number of vectors. In each of the next m lines, the user will give a vector as the input. In the next line, the users gives the vector v.

You are expected to find the closest vector to v.

In [ ]:
#in this cell, you should only get the inputs


#TODO: get the number m

#TODO: get m vectors

#TODO: get the vector v

In [ ]:
#in this cell you should find the expected output. you are not allowed to use loops in this cell.


#TODO: find the difference of all vectors with v

#TODO: compute D for each vector

#TODO: find the vector with the lowest D

#TODO: print the most similar vector

<font color=3C99D size=5>
Question Two: Introduction to Pandas

In this part you will learn how to work with Pandas library and how to convert raw data into suitable data for model input .

### Libraries

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import string
import re
import matplotlib.pyplot as plt
import math
from matplotlib import rc
import matplotlib.ticker as ticker
from math import sqrt
%matplotlib inline
sns.set(style='whitegrid', palette='muted', font_scale=1.3)

In [ ]:
# Change the address as you wish
plays = pd.read_csv('./data/user_artists.dat', sep='\t')
artists = pd.read_csv('./data/artists.dat', sep='\t', usecols=['id','name'])

# Preprocessing

In [ ]:
###############################################################################
## TODO: merge two DataSets in a way that below DataFrame is created         ##
###############################################################################

ap = # Your Code

In [ ]:
ap

          id              name  userID  artistID  weight
0          1      MALICE MIZER      34         1     212
1          1      MALICE MIZER     274         1     483
2          1      MALICE MIZER     785         1      76
3          2   Diary of Dreams     135         2    1021
4          2   Diary of Dreams     257         2     152
...      ...               ...     ...       ...     ...
92829  18741    Diamanda Galás     454     18741     301
92830  18742            Aya RL     454     18742     294
92831  18743       Coptic Rain     454     18743     287
92832  18744      Oz Alchemist     454     18744     286
92833  18745  Grzegorz Tomczak     585     18745     426

[92834 rows x 5 columns]

In [ ]:
###############################################################################
## TODO: rename the weight columns to PlayCount         ##
###############################################################################
ap = ap.rename(columns={"weight": "playCount"})

In [ ]:
###############################################################################
## TODO: Delete the "id" columns and reset_indexes of ap                     ##
###############################################################################

#TODO

In [ ]:
###############################################################################
## TODO: Create  a Dataframe like below where "totalUniqueUsers" is the number of
## userID's assigned to each name in "ap" dataframe.
## "totalArtistPlays" is sum of all playcounts assigned to an artist
## and sort the Frame in descending order of "totalArtistPlays" (highest "totalArtistPlays" at top of table)
## and "avgUserPlays" is divison of "totalArtistPlays" by "totalUniqueUsers"
###############################################################################


artist_rank = # Your Code

artist_rank['avgUserPlays'] = # Your Code

In [ ]:
artist_rank

                    totalUniqueUsers  totalArtistPlays  avgUserPlays
name
Britney Spears                   522           2393140   4584.559387
Depeche Mode                     282           1301308   4614.567376
Lady Gaga                        611           1291387   2113.563011
Christina Aguilera               407           1058405   2600.503686
Paramore                         399            963449   2414.659148
...                              ...               ...           ...
Morris                             1                 1      1.000000
Eddie Kendricks                    1                 1      1.000000
Excess Pressure                    1                 1      1.000000
My Mine                            1                 1      1.000000
A.M. Architect                     1                 1      1.000000

[17632 rows x 3 columns]

In [ ]:
###############################################################################
## TODO: Create  a Dataframe like below where for each name in ap dataframe,
# corresponding row in artist rank is attached to it
###############################################################################



ap = #TODO

In [ ]:
ap.head(20)

        id                name  ...  totalArtistPlays  avgUserPlays
2800    72        Depeche Mode  ...           1301308   4614.567376
35843  792              Thalía  ...            350035  13462.884615
27302  511                  U2  ...            493024   2664.994595
8152   203                Blur  ...            318221   2791.412281
26670  498            Paramore  ...            963449   2414.659148
21191  378         Evanescence  ...            513476   2272.017699
14165  292  Christina Aguilera  ...           1058405   2600.503686
33309  701             Shakira  ...            688529   2158.398119
33127  701             Shakira  ...            688529   2158.398119
31835  679           Glee Cast  ...            506453   2033.947791
26983  503           In Flames  ...            237148   3539.522388
32498  687        All Time Low  ...            215777   2802.298701
13324  289      Britney Spears  ...           2393140   4584.559387
21165  378         Evanescence  ...            513476   2272.017699
13680  289      Britney Spears  ...           2393140   4584.559387
25865  486  30 Seconds to Mars  ...            485532   2247.833333
5575   163          Pink Floyd  ...            466104   1806.604651
3640    89           Lady Gaga  ...           1291387   2113.563011
6792   187                a-ha  ...            205195   2115.412371
7737   198    System of a Down  ...            277397   1532.580110

[20 rows x 8 columns]

# Exploration

In [ ]:
def bar_chart_int(x,y,x_label,y_label,title,caption,total_val):
    fig, ax = plt.subplots();
    fig.set_size_inches(16, 5);
    ax = sns.barplot(x[:20], y[:20], palette='Blues_r');
    ax.set_xlabel(x_label);
    ax.set_ylabel(y_label);
    ax.set_title(title);
    ax.get_yaxis().set_major_formatter(ticker.FuncFormatter(lambda x, p: '{:,}'.format(int(x))));

    # our bar label placement
    for p in ax.patches:
        height = p.get_height()
        pct = 100*(height/total_val)
        ax.text(p.get_x()+p.get_width()/2.,
                height + 3,
                '{:1.1f}%'.format(pct),
                ha="center",verticalalignment='bottom',color='black', fontsize=12);

    # our caption statement
    ax.text(19, max(y[:20])*0.95, caption,horizontalalignment='right');

    plt.xticks(rotation=90);
    plt.show();

In [ ]:
c1 = artist_rank
x = c1.index
y = c1.totalArtistPlays
x_label = 'Artist Name'
y_label = 'Total Artist Plays'
title = 'Total Plays by Artist'
caption = 'Percentage of total plays'
total_val = c1.totalArtistPlays.sum()

bar_chart_int(x,y,x_label,y_label,title,caption,total_val);

In [ ]:
c2 = artist_rank.sort_values(['totalUniqueUsers'],ascending=False)
x = c2.index
y = c2.totalUniqueUsers
x_label = 'Artist Name'
y_label = 'Unique Users Played'
title = 'Unique Users per Artist'
caption = 'Percentage of total unique users'
total_val = ap.userID.nunique()

bar_chart_int(x,y,x_label,y_label,title,caption,total_val)

In [ ]:
top_artists =  # TODO : index of top 12 items in "artist_rank" based on their "totalArtistPlays"

x = # TODO : "totalUniqueUsers" of "artist_rank"
y =  # TODO :  "totalArtistPlays" of "artist_rank"
labels =  # TODO : index of "artist_rank"

fig, ax = plt.subplots(figsize=(15,10))
sns.regplot(x,y)
ax.set_title('Artist Popularity: Play Count vs Unique Users')
ax.yaxis.set_major_formatter(ticker.FuncFormatter(lambda y, _: '{:,.0f}'.format(y)))
ax.set_xlabel('Total Unique Users')
ax.set_ylabel('Total Artist Plays')

for i, t in enumerate(labels):
    if t in top_artists:
        ax.annotate(t,(x[i],y[i]))

In [ ]:
pc = ap.playCount
play_count_scaled = (pc - pc.min()) / (pc.max() - pc.min())
ap = ap.assign(playCountScaled=play_count_scaled)

In [ ]:
###############################################################################
## TODO: Create  a Dataframe with userID as its rows, artistID as its columns and
## "play_count_scaled" as the value of each cell, in this manner you're creating
## a table which demonstrates what rating each user has for a set of items(artists)
## Your created table should be like below example
###############################################################################

ratings_df = # Your Code

In [ ]:
ratings_df

artistID,1,2,3,4,5,6,7,8,9,10,...,18736,18737,18738,18739,18740,18741,18742,18743,18744,18745
userID,,,,,,,,,,,,,,,,,,,,,
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2097,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2099,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2100,NaN,NaN,0.001154,NaN,NaN,0.001143,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
###############################################################################
# TODO: Fill each NaN value with 0 and return a numpy array corresponding modified DataFrame
###############################################################################


ratings = # Your Code

In [ ]:
###############################################################################
# TODO : Calculate how sparse your data is (in percent) and print it, meaning
# what fraction of the above table is filled with observed values.
###############################################################################

## Your Code



## END

<font color=3C99D size=5>
Question Three: Eigenvalues and Eigenvectors

## Libraries

In [ ]:
import numpy as np
from IPython.display import display, HTML
import matplotlib.pyplot as plt
import timeit

## Eigenvalues and Eigenvectors
Eigenvalues and eigenvectors are fundamental concepts in linear algebra. For a given square matrix A, if there is a non-zero vector v such that Av = λv, then λ is called the eigenvalue and v is the corresponding eigenvector.

## Functions for Eigenvalues and Eigenvectors
We will define functions to compute eigenvalues and eigenvectors.

In [ ]:
def compute_eigenvalues(A):
    """
    Computes and returns a list of eigenvalues of the input matrix A.

    Args:
    A (numpy.ndarray): The input matrix for which eigenvalues are computed.

    Returns:
    eigenvalues (list): A list containing the eigenvalues of matrix A.
    """
    pass

def compute_eigenvector(A, eigenvalue):
    """
    Computes the eigenvector corresponding to the given eigenvalue of matrix A.

    Args:
    - A (numpy.ndarray): The square matrix.
    - eigenvalue (float or complex): The eigenvalue for which the eigenvector is computed.

    Returns:
    - eigenvector (numpy.ndarray): The eigenvector corresponding to the input eigenvalue.
    """
    pass

def compute_eigenvectors(A):
    """
    Computes the eigenvectors of the matrix A.

    Args:
    - A (numpy.ndarray): The square matrix for which eigenvectors are computed.

    Returns:
    - eigenvectors (list of numpy.ndarray): A list containing the eigenvectors of matrix A.
    """
    pass

## Visualization of Vectors
A function to visualize vectors in 2D.

In [ ]:
def plot_vectors(vectors, colors, labels, title):
    plt.figure()
    plt.axhline(0, color='gray', lw=0.5)
    plt.axvline(0, color='gray', lw=0.5)
    plt.grid()
    for vector, color, label in zip(vectors, colors, labels):
        plt.quiver(0, 0, vector[0], vector[1], angles='xy', scale_units='xy', scale=1, color=color, label=label)
    plt.xlim(-1.5, 1.5)
    plt.ylim(-1.5, 1.5)
    plt.legend()
    plt.title(title)
    plt.show()

## Example with a Random Matrix
We will generate a random 2D matrix with two independent eigenvectors and visualize them along with a random vector. Then we apply the transformation and plot them again.
### no need to change the below cells

In [ ]:
def generate_valid_matrix():
    while True:
        A = np.random.rand(2, 2)
        eigenvalues = np.linalg.eigvals(A)
        if (np.all(np.isreal(eigenvalues)) and
            len(set(eigenvalues)) == 2 and
            np.all(np.abs(eigenvalues) > 0.33) and
            np.all(np.abs(eigenvalues) < 3)):
            return A

In [ ]:
A = generate_valid_matrix()
eigenvectors = compute_eigenvectors(A)

random_vector = np.random.rand(2)

plot_vectors([eigenvectors[:, 0], eigenvectors[:, 1], random_vector],
             ['r', 'g', 'b'],
             ['Eigenvector 1', 'Eigenvector 2', 'Random Vector'],
             'Original Vectors')

transformed_vectors = [A @ eigenvectors[:, 0], A @ eigenvectors[:, 1], A @ random_vector]

plot_vectors(transformed_vectors,
             ['r', 'g', 'b'],
             ['Transformed Eigenvector 1', 'Transformed Eigenvector 2', 'Transformed Random Vector'],
             'Transformed Vectors')

<h3 style='color: red;'>Question</h3>
explain this behavior of these vectors in 2D plain

<h3 style='color: yellow;'>Your answer</h3>

# here

## Diagonalization
Diagonalization of a matrix involves finding a matrix P and a diagonal matrix D such that A = PDP^(-1). This is possible if A has n linearly independent eigenvectors.

In [ ]:
def diagonalize(A):
    """
    Diagonalizes the square matrix A if possible using eigenvectors.

    Args:
    - A (numpy.ndarray): The square matrix to be diagonalized.

    Returns:
    - diagonal_matrix (numpy.ndarray): The diagonal matrix D such that A = PDP^-1,
      where D is diagonal and P is the matrix of eigenvectors.

    Attempts to diagonalize the input square matrix A using eigenvectors.
    Returns the diagonal matrix D. You are allowed to use numpy.linalg.inv(P) to compute P^-1.
    """

    pass

to check your answer use the cells below

In [ ]:
def check_diagonalization(D, A):
    is_diagonal = np.allclose(D, np.diag(np.diagonal(D)))
    eigenvalues_A = np.linalg.eigvals(A)
    diagonal_entries_D = np.diagonal(D)
    has_correct_diagonal = np.allclose(np.sort(eigenvalues_A), np.sort(diagonal_entries_D))
    has_all_eigenvalues = set(diagonal_entries_D) >= set(eigenvalues_A)

    if is_diagonal and has_correct_diagonal and has_all_eigenvalues:
        display(HTML('<font color="green">All conditions satisfied:</font> Matrix D properly diagonalizes matrix A.'))
    else:
        if not is_diagonal:
            display(HTML('<font color="red">Error:</font> Matrix D is not diagonal.'))
        if not has_correct_diagonal:
            display(HTML('<font color="red">Error:</font> Diagonal entries of D are not eigenvalues of A.'))
        if not has_all_eigenvalues:
            display(HTML('<font color="red">Error:</font> D does not include all eigenvalues of A.'))

In [ ]:
A = generate_valid_matrix()

D = ... #TODO

check_diagonalization(D, A)

## Properties of Diagonalized Matrix
A diagonalized matrix has its eigenvalues on the diagonal. It is easier to compute powers of a diagonal matrix.


<h3 style='color: red;'>Question</h3>
How do you think we can speed up the process of calculating powers of a matrix by using diagonalization?

<h3 style='color: yellow;'>Your answer:</h3>

# here

## Performance Comparison
We will compare the time taken to compute matrix powers using regular methods versus diagonalization.

First, we will compute the powers of a matrix using the regular method.

In [ ]:
def compute_powers(A, n):
    result = A
    for _ in range(n-1):
        result = result @ A
    return result

In [ ]:
n_values = range(1, 200)

In [ ]:
regular_times = []

for n in n_values:
    timer = timeit.Timer(lambda: compute_powers(A, n))
    regular_times.append(timer.timeit(number=1))

Next, we will use your method for calculating power of a matrix.

In [ ]:
def compute_powers_your_way(A, n):
    """
    Computes the power of a square matrix A to the nth degree.

    Args:
    - A (numpy.ndarray): The square matrix for which powers are computed.
    - n (int): The exponent to which A is raised.

    Returns:
    - result (numpy.ndarray): The matrix A raised to the power of n.

    """

    pass

In [ ]:
diagonal_times = []

for n in n_values:
    timer = timeit.Timer(lambda: compute_powers_your_way(A, n))
    diagonal_times.append(timer.timeit(number=1))

Finally, we will plot the results to compare the performance of both methods.

In [ ]:
plt.plot(n_values, regular_times, label='Regular Method')
plt.plot(n_values, diagonal_times, label='Diagonalization Method')
plt.xlabel('Exponent (n)')
plt.ylabel('Time (s)')
plt.legend()
plt.title('Performance Comparison')
plt.show()

<font color=3C99D size=5>
Question Four: KNN

A supervised machine learning approach called k-Nearest Neighbors (KNN) can be applied
to classification or regression problems. The approach does not make any assumptions about the underlying distributions of the data since KNN is non-parametric. As opposed to a parametric methodology like linear regression, which calls for us to identify a function that captures the connection between the dependent and independent variables, our method does not need th is. KNN has the benefit of being simple to comprehend. A query point (or test point) is categorized using the k labeled training points that are closest to it when utilized for classification.

This Iris dataset includes three iris species with 50 samples each as well as some properties
about each flower. One flower species is linearly separable from the other two, but the other
two are not linearly separable from each other.

load the Iris dataset from scikit-learn and convert it into a pandas DataFrame, including the target variable, and display the first few rows.

In [ ]:
#code here

Is the the dataset balanced or not?

Answer:

In [ ]:
df.groupby('target').size().plot(kind='barh')

Now we need a distance function. In KNN we find the distance between the test data with
all our dataset. We can use eucledean or manhattan distance. Here a generalized function is
used, with using a parameter p, when p = 1, it’s manhattan distance and when p = 2, it’s
eulclidean distance.


Write function that calculates the p-norm distance between two lists, a and b, with a default value of p=1:

In [ ]:
def dis(a, b, p=1):
        #scode here
    return d

Now one test point will be executed before splitting data for train and test, it’s to check all
implementation, that have been so far. Here the test point that used is test_pt = [4.8, 2.7, 2.5,
0.7]. Here after taking the test point the code should measure distance from this data point with
all those 150 data points. Then it’ll convert that list to a python DataFrame for further
convenience

In [ ]:
test_pt = [4.8, 2.7, 2.5, 0.7]
# code here
dists.head()

Distance DataFrame is sorted to measure which class the nearest

In [ ]:
def knn_sort(k,dists):
    return dists.sort_values(by = 'dist')[:k]

Here k is 5. And taking top k distance the majority of
the class will be measure.

Find the most common class label among the k nearest neighbors after sorting their distances and counting occurrences.

In [ ]:
# code here
print(max(count_set))

Now determine the accurate prediction for that data point and now all the data
can be splitted for training and testing.
- 75% train, 25% test

In [ ]:
# code here

Implements the K-Nearest Neighbors (KNN) algorithm using a custom distance function, with missing parts that need to be filled in

In [ ]:
def KNN(X_train, X_test, y_train, y_test, k, p):
    y_predict = []
    for test_pt in X_test:
        distances = []
        for i in X_train:
            a = ...  # Missing: Calculate the distance between test_pt and i
            distances.append(a)
        dists = pd.DataFrame(data=distances, index=y_train.index, columns=['dist'])
        sorted_dists = ...  # Missing: Sort the distances and select the k nearest

        count_set = {}
        for i in sorted_dists.index:
            if y_train[i] not in count_set:
                count_set[y_train[i]] = 1
            else:
                count_set[y_train[i]] += 1

        y_predict.append(...)  # Missing: Determine the most common class among the nearest neighbors

    accr = ...  # Missing: Calculate the accuracy of predictions
    return accr

In [ ]:
KNN(X_train, X_test, y_train, y_test, 5,1)

See how the model accuracy varies with respect to k value. A
simple loop should be used to call KNN few times:

In [ ]:
accuracies = []
for i in range(1,100):
    accuracies.append(KNN(X_train, X_test, y_train, y_test, i,1))

print(max(accuracies))

fig, ax = plt.subplots(figsize=(8,6))
ax.plot(range(1,100), accuracies)
ax.set_xlabel('# of Nearest Neighbors (k)')
ax.set_ylabel('Accuracy (%)')

What is the best K value?

Answer:

<font color=3C99D size=5>
Question Five: Estimators of variance

In this question, we examine two common estimators of variance. The first estimator is related to the Maximum Likelihood Estimation (MLE):

$$
\hat{\sigma}^2_{\text{MLE}} = \frac{1}{n} \sum_{i=1}^{n} (x_i - \bar{x})^2
$$

The next estimator includes Bessel's correction:

$$
\hat{\sigma}^2_{\text{Bessel}} = \frac{1}{n - 1} \sum_{i=1}^{n} (x_i - \bar{x})^2
$$

Generate samples from a Normal distribution \(\mathcal{N}(2, 2)\) with sample sizes ranging from 2 to 1000, and for each, calculate the bias of both estimators.

In [ ]:
# TODO

Now, plot the bias values for each of the estimators.

Based on these plots, determine whether the two estimators are consistent.

In [ ]:
# TODO

**Answer**:

This time, generate 100,000 samples, each of size 10, from the same Normal distribution $\mathcal{N}(2, 2)$, and calculate the mean bias for each estimator.

In [ ]:
#code here

Based on these values, determine whether the two estimators are unbiased. explain

**Answer:**


<font color=3C99D size=5>
Question Six*: Latent Semantic Analysis (LSA) with Singular Value Decomposition (SVD)

## Introduction

Latent Semantic Analysis (LSA) is a powerful technique in natural language processing and information retrieval that helps to uncover the underlying structure in a collection of texts. By using Singular Value Decomposition (SVD), LSA transforms high-dimensional textual data into a lower-dimensional space, capturing the most important patterns in the data.

### Objectives

In this homework, we will explore how LSA can be used to obtain vectors for words and documents, which can then be used for various tasks such as information retrieval, clustering, and semantic analysis. We will achieve this through the following steps:

1. **Preparing the Data**: We will start by gathering and preprocessing the text data to construct a term-document matrix.
2. **Singular Value Decomposition (SVD)**: We will apply SVD to the term-document matrix to obtain the latent semantic structure.
3. **Visualization**: Finally, we will visualize the word and document vectors to understand the relationships between them.

## Libraries

In [ ]:
import pandas as pd
import numpy as np
import re

from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

from scipy.linalg import svd
import matplotlib.pyplot as plt

## Data Preparation

In this section, we will prepare our dataset for Latent Semantic Analysis (LSA). This involves loading the dataset, preprocessing the texts, and creating the term-document matrix.

### 1. Loading the Dataset

First, we will load a dataset of news articles along with their labels indicating whether they are relieble or not. This dataset will serve as the foundation for our analysis.

### 2. Preprocessing the Texts

To prepare the texts for analysis, we need to perform several preprocessing steps:

- **Tokenization**: Breaking down the text into individual words or tokens.
- **Removing Stopwords**: Filtering out common words that do not carry significant meaning (e.g., "and", "the", "is").
- **Lemmatization**: Reducing words to their base or root form (e.g., "running" to "run").

These steps will help us create a clean and meaningful representation of the text data.

### 3. Creating the Term-Document Matrix

Once the texts are preprocessed, we will construct a term-document matrix. This matrix will have terms (words) as rows and documents (texts) as columns. Each entry in the matrix will represent the frequency of a term in a document. This matrix will be the input for applying Singular Value Decomposition (SVD) in the next section.

### Loading the Dataset

In [ ]:
# TODO: Load the dataset

# TODO: Show the first 5 rows of the dataset

### Preprocessing the Texts

In [ ]:
def preprocess_text(text):
    """
    Preprocess the input text by performing tokenization, stop words removal, and lemmatization.

    Args:
        text (str): The input text to be preprocessed.

    Returns:
        str: The preprocessed text.
    """
    # Initialize the WordNetLemmatizer
    lemmatizer = WordNetLemmatizer()
    # Convert to lowercase
    text = text.lower()
    # Remove special characters and numbers
    text = re.sub(r'[^a-zA-Z\s]', '', text)
    # Tokenize the text
    tokens = text.split()
    # Remove stop words and lemmatize the tokens
    stop_words = stopwords.words('english')
    tokens = [lemmatizer.lemmatize(token) for token in tokens if token not in stop_words]
    # Join the tokens back into a single string
    preprocessed_text = ' '.join(tokens)
    return preprocessed_text


# TODO: Apply the preprocess_text function to the 'text' column of the DataFrame

# TODO: Show the first 5 rows of the dataset

### Creating the Term-Document Matrix

In [ ]:
# TODO: Create the term-document matrix

## Applying Singular Value Decomposition (SVD)

In this section, we will apply Singular Value Decomposition (SVD) to the term-document matrix to extract the latent semantic structure of the data. The right singular vectors obtained from SVD will be used as the embeddings for our documents.

### Singular Value Decomposition (SVD)

Singular Value Decomposition is a matrix factorization technique that decomposes a matrix $A$ into three matrices:

$$
A = U \Sigma V^T
$$

where:
- $U$ is an orthogonal matrix containing the left singular vectors.
- $\Sigma$ is a diagonal matrix containing the singular values.
- $V^T$ is the transpose of an orthogonal matrix containing the right singular vectors.

In the context of text data, the term-document matrix $A$ can be decomposed using SVD to reveal the underlying semantic structure.

### Extracting Document Embeddings

The right singular vectors obtained from the SVD are particularly useful for our analysis. These vectors, which are the columns of the matrix $V$, represent the documents in a reduced-dimensional semantic space. These document embeddings capture the essential features of the texts and can be used for various downstream tasks such as clustering, classification, and visualization.

By applying SVD to the term-document matrix, we will obtain a set of document embeddings that can be visualized and analyzed to gain insights into the relationships between different documents.

In [ ]:
# TODO: Perform Singular Value Decomposition (SVD) on the term-document matrix (this might take a few minutes)

## Visualization

In this section, we will visualize the document embeddings obtained from Singular Value Decomposition (SVD). By plotting the first two singular vectors, we can create a 2D scatter plot of the documents. Each document will be colored based on its respective label (reliable or unreliable) to help us visually analyze the separation between different classes.

### 2D Embeddings

To visualize the document embeddings, we will use the first two right singular vectors obtained from SVD. These vectors correspond to the two largest singular values and capture the most significant features of the data.

### Scatter Plot

We will create a scatter plot where:
- Each point represents a document.
- The x-coordinate of a point corresponds to its first singular vector value.
- The y-coordinate of a point corresponds to its second singular vector value.
- The color of each point indicates whether the document is labeled as fake news or true news.

This visualization will allow us to see how well the SVD has separated the different classes of documents in a 2D space. It can also provide insights into the structure and distribution of the documents based on their latent semantic features.

In [ ]:
# TODO: Plot the terms in the 2D space

## Conclusion

In this homework, we explored the use of Latent Semantic Analysis (LSA) with Singular Value Decomposition (SVD) to obtain word and document vectors from a dataset of texts labeled as fake news or true news. We went through the steps of loading and preprocessing the data, applying SVD, and visualizing the document embeddings in a 2D space.

### Answer these questions:

1. **Why do you think reliable and unreliable news separated without using sample labels?**

2. **What do the left singular vectors mean?**